<header class="w-full bg-gray-100 p-5">
    <nav class="flex gap-4 justify-between">
        <a href="/" class="flex items-center gap-2"><img class="w-[50px]" src="/logo.png" alt="logo"> <h1 class="font-bold">Weblary</h1></a>
        <ul class="flex gap-4 items-center flex-wrap">
            <li><a class="font-bold hover:text-blue-500 active:text-blue-900 p-2 rounded-md text-gray-500" href="/authors">Authors</a></li>
            <li><a class="font-bold hover:text-blue-500 active:text-blue-900 p-2 rounded-md text-gray-500" href="/authors/new">Add Author</a></li>
            <li><a class="font-bold hover:text-blue-500 active:text-blue-900 p-2 rounded-md text-gray-500" href="/books">Books</a></li>
            <li><a class="font-bold hover:text-blue-500 active:text-blue-900 p-2 rounded-md text-gray-500" href="/books/new">Add Books</a></li>
        </ul>

    </nav>
</header>